<noscript>
<div class="wapper">
<p>Hallo! Du siehst dieses Text, weil du JavaScript deaktiviert hast oder meine Seite/URL mit NoScript geblockt hast.</p>

<ul>
	<li>Meine Seite bindet zwei Schriften von Google Fonts ein.</li>
	<li>
Via cloudflare.com binde ich den Syntaxhighlighter <a href="https://highlightjs.org/">highlight.js</a> und <a href="http://scottjehl.github.io/picturefill/">Picturefill</a> ein. Letzteres macht das <code>&lt;picture&gt;</code>-Element in allen Browsern verfügbar. </li>
	<li>Artikel können via <a href="https://disqus.com/">disqus</a> kommentiert werden. Die Funktionalität ist dabei per JavaScript implementiert.</li>
	<li>Und zu guter Letzt nutze ich noch Google Analytics. Ich möchte genauers über meine Leserschaft wissen und herausfinden, ob das Blog überhaupt gelesen wird, oder nur eine einsame Freizeitbeschäftigung ist.
</li>
</ul>

<p>Damit die Seite hübsch aussieht, gib doch bitte wenigstens hehejo.de frei, damit die Schriften nachgeladen werden können.<br />
Danke!</p>
</div>
</noscript>

