---
layout: default
---

	{% include navigation.html %}
<div class="post">

  <header class="post-header">
	  {% if page.teaser %}{% picture {{ page.teaser.image }} %}{% endif %}
	<ul class="post-meta">
		<li>{{ page.date | date: "%Y-%m-%d" }}</li>
		{% unless page.tags.size == 0 %}<li><ul class="tag-list">{% for tag in page.tags %}<li><a href="/tag/{{tag}}">{{tag}}</a></li>{% endfor %}</ul></li>{% endunless %}
	{% if page.flickr %}
	<li><a href="https://www.flickr.com/photos/hehejo/sets/{{page.flickr}}" alt="Album auf flickr">Album auf <i>flickr</i></a></li>
	{% endif %}
	</ul>
    <h1 class="post-title">{{ page.title }}</h1>
  </header>

  {% if page.series %}
  <aside class="post-series">
	  <span class="post-meta">Dieser Artikel ist Teil einer Serie.</span>
	  <h3>{{ page.series.name }}</h3>
	  {{ site.posts.class }}
	  <ol class="post-meta post-list">
		  {% for entry in site.posts %}
		  <li>{{entry.data.series.name}}</li>
	  <!-- <li><a class="post-link" href="{{ entry.url | prepend: site.baseurl }}">{{ entry.title }}</a></li> -->
	  {% endfor %}
	  </ol>
  </aside>
  {% endif %}

  <article class="post-content">
    {{ content }}
  </article>

  {% if page.comments %}
  {% include disqus.html %}
  {% endif %}

</div>
