---
layout: default
---
<div class="post">

  <header class="post-header">
	{% include navigation.html %}
    <h1 class="post-title">{{ page.title }}</h1>
	<span class="post-meta">{{ page.date | date: "%Y-%m-%d" }}{% if page.author %} • {{ page.author }}{% endif %}{% unless page.tags.size == 0 %} • <ul class="tag_list">{% for tag in page.tags %}<li><a href="/tag/{{tag}}">{{tag}}</a></li>{% endfor %}</ul>{% endunless %}
	</span>
	  {% if page.teaser_image %}{% picture {{ page.teaser_image }} %}{% endif %}
  </header>

  <article class="post-content">
    {{ content }}
  </article>

  {% if page.comments %}
  {% include disqus.html %}
  {% endif %}

</div>
